@model EBMTodo.Models.Todo.EBMProjectMember

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EBMProjectMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EBMProject.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EBMProject.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PMID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
