@model EBMTodo.Models.Todo.EBMProjectSchedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EBMProjectSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EBMProject.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EBMProject.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Target)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Target)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WokingHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WokingHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressingFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressingFlag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
