@model IEnumerable<EBMTodo.Models.Todo.EBMProjectWorking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-inline" id="query-form">
    <div class="form-group">
        <label for="start">StartDate</label>
        <input type="date" class="form-control" name="start" id="start" placeholder="StartDate">
    </div>
    <div class="form-group">
        <label for="end">EndDate</label>
        <input type="date" class="form-control" name="end" id="end" placeholder="EndDate">
    </div>
    <div class="form-group">
        <label for="member">Member</label>
        <select name="UIDs" class="form-control" id="member" multiple="multiple">
            @foreach (var item in ViewBag.memberList)
            {
                <option value="@item.UID">@item.Name</option>
            }        
        </select>
    </div>
    <div class="form-group">
        <label for="project">Project</label>
        <select name="PIDs" class="form-control" id="project" multiple="multiple">
            @foreach (var item in ViewBag.projectList)
            {
                <option value="@item.PID">@item.ProjectName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr />
<table class="table table-responsive" id="TB_workList"></table>
<script>
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $(document).ready(function () {
        var table = $('#TB_workList').DataTable({
            ajax: {
                url: '/api/ebmpworking/getData',
                contentType: "application/json",
                type: 'POST',
                dataSrc: "",
                data: function (d) {
                   
                    console.log(JSON.stringify($('#query-form').serializeObject()));
                    return JSON.stringify($('#query-form').serializeObject());
                }
            },
            columns: [
                { data: "WorkerName", title: "LastName" },
                { data: "ProjectName", title: "專案名稱" },
                { data: "RecordDateTime", title: "工作時間" },
                { data: "Description", title: "工作內容" },
                { data: "WokingHour", title: "工作時數" }
            ]
        });
  
        $("#query-form").submit(function (e) {
            e.preventDefault();
            table.ajax.reload();
            @*table.ajax.url('@Url.Action("getData")?' + $('#query-form').serialize()).load();*@
        });
    });
</script>